body{
    background-image:url("bg2.webp");
    background-repeat:no-repeat;
    background-size:1550px 750px;
}

ul{
   list-style-type:none;
   margin:0;
   padding:0px;
   overflow:hidden;
   background-color:blue;
}
li{
    float:right;
}
li a{
    display: block;
    color:white;
    font-size:30px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
li a:hover{
    background-color:rgb(222, 18, 18);
}

.h1{
    font-size:60px;
    font-family:'Times New Roman', Times, serif;
    color:rgb(25, 25, 240);
    font-weight: bold;
    text-align:center;
}
.c1{
    position:absolute;
    top:170px;
    left:320px;
}
.c2{
    position:absolute;
    top:190px;
    right:375px;
}
.c7{

    position:absolute;
    top:190px;
    right:650px;

}
.c8:hover{
    color:red;
    font-size:larger;
}
.c9{
    background-color: blue;
    color: white;
    font-size: 25px;
    position:absolute;
    top:215px;
    left:38%;
    transition-duration: 0.4s;
}
.c10{
    background-color: blue;
    color: white;
    font-size: 25px;
    position:absolute;
    top:310px;
    left:36.5%;
    transition-duration: 0.4s;
}
.c9:hover,.c10:hover{
    background-color:red;
    color:white;
}