body{
    background-image:url("bg2.webp");
    background-repeat:no-repeat;
    background-size:1550px 750px;
}

ul{
   list-style-type:none;
   margin:0;
   padding:0px;
   overflow:hidden;
   background-color:blue;
}
li{
    float:right;
}
li a{
    display: block;
    color:white;
    font-size:30px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
li a:hover{
    background-color:rgb(222, 18, 18);
}

.h1{
    font-size:60px;
    font-family:'Times New Roman', Times, serif;
    color:rgb(25, 25, 240);
    font-weight: bold;
    text-align:center;
}
.c1{
    position:absolute;
    top:155px;
    left:340px;
}
.c2{
    position:absolute;
    top:170px;
    right:400px;
}
.c7{

    position:absolute;
    top:180px;
    right:655px;

}